<div class="row">
  <div class="col-md-6">
    <h3>11 oktober (ochtend)</h3>
    <table class="table table-striped">
      <tr>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a></td> </tr>
      <tr>   <td>Inleiding tot het werken met data</td> </tr>
<!--       <tr> <td>12:00</td>  <td>EINDE</td> </tr> -->
      <tr>   <td>De Unix shell (deel 1)</td> </tr>

    </table>
  </div>
  <div class="col-md-6">
    <h3>11 oktober (middag)</h3>
    <table class="table table-striped">
      <tr>   <td><i>Regular expressions</i></td> </tr>
      <tr>   <td>De Unix shell (deel 2)</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>17 oktober (ochtend)</h3>
    <table class="table table-striped">
      <tr>   <td>Nette spreadsheets</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>17 oktober (middag)</h3>
    <table class="table table-striped">
      <tr>   <td>OpenRefine</td> </tr>
      <tr>   <td><a href="{{ site.post_survey }}{{ site.github.project_title }}">Post-workshop survey</a></td> </tr>
    </table>
  </div>
</div>
